@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

body {
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.nav, .nav div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
    background-color: rgba(3,37,65,1);
    color: #fff;
}

.nav div h3 {
    font-size: medium;
}

.nav div * {
    cursor: pointer;
}

.nav .left {
    flex-basis: 22%;
}

.nav .left img {
    width: 65%;
    margin: 25px 0;
}

.nav .left #movieNavOptionsDiv {
    display: none;
    position: absolute;
    background: #fff;
    color: black;
    padding: 0;
    border-radius: 10px;
}

.nav .left #movieNavOptionsDiv ul {
    list-style: none;
    padding: 0;
    margin: 5px;
}

.nav .left #movieNavOptionsDiv ul li {
    padding: 5px 20px;
    margin: 0;
}

.nav .left #movieNavOptionsDiv ul li:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
}

.nav .right img {
    width: 29%;
}

.searchLogoDiv {
    display: none;
    text-align: center;
    margin: -5px;
}

.searchLogoDiv input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 20px;
    line-height: 1.5;
}

.container {
    margin-top: 70px;
}

.bgWelcome {
    min-height: 325px;
    height: calc(100vh/2.3);
    background-image: linear-gradient(to right,rgba(3,37,65,0.9) 0%, rgba(3,37,65,0.5) 100%), url('../assets/1st\ img.jpg');
    background-position: center;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-screen {
    width: 90%;
}

.welcome-screen h1{
    font-size: xxx-large;
    margin: 0;
}

.welcome-screen h2 {
    margin: 0;
    font-size: x-large
}

.welcome-screen form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 50px auto 0px;
}

.welcome-screen form input {
    position: relative;
    width: 100%;
    line-height: 30px;
    font-size: 1.1em;
    color: rgba(0,0,0,.5);
    border: 0;
    border-radius: 30px;
    padding: 10px 20px;
    outline: none;
    border: none;
}

.welcome-screen form button {
    position: absolute;
    align-self: center;
    border-radius: 30px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: medium;
    line-height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: linear-gradient(to right,rgba(30,213,169,1) 0%,rgba(1,180,228,1) 100%);
}

.welcome-screen form button:hover {
    color: rgba(3,37,65,1);
}

.trending, .popular {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(3,37,65,0.5);
    border-left: none;
    border-right: none;
}

.trending .headings, .trending .headings .buttons, .popular .headings, .popular .headings .buttonsPopular{
    display: flex;
    align-items: center;
    margin-left: 65px;
}

.popular .headings {
    margin-top: 30px;
}

.popular .headings h2 {
    margin: 0;
}

.trending .headings .buttons, .popular .headings .buttonsPopular {
    margin-left: 20px;
    border: 1px solid rgba(3,37,65,1);
    border-radius: 20px;
}

.trending .headings .buttons button, .popular .headings .buttonsPopular button{
    margin: 0;
    border: none;
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 20px;
    color: rgba(3,37,65,1);
    cursor: pointer;
}

.trending .headings .buttons #todaysTrending, .popular .headings .buttonsPopular #moviePopular {
    background-color: rgba(3,37,65,1);
}

.trending .headings .buttons button h4, .popular .headings .buttonsPopular button h4 {
    margin: 0;
    font-size: medium;
}

.trending .headings .buttons #todaysTrending h4, .popular .headings .buttonsPopular #moviePopular h4 {
    background: linear-gradient(to right,#c0fecf 0,#1ed5a9 100%);
    background-clip: linear-gradient(to right,#c0fecf 0,#1ed5a9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.trending .trendingContents, .popular .popularContents {
    display: flex;
    overflow-y: hidden;
}

.trending .trendingContents h1, .popular .popularContents h1 {
    display: block;
    margin: 100px auto;
    align-self: center;
}

.trending .trendingContents div, .trending .trendingContents div img, .popular .popularContents div, .popular .popularContents div img{
    width: 150px;
    cursor: pointer;
    margin: 20px 10px;
}

.trending .trendingContents .extraContent, .popular .popularContents .extraContent {
    margin: 0 25px;
    width: 0;
}

.trending .trendingContents div img, .trending .trendingContents div h3, .popular .popularContents div img, .popular .popularContents div h3{
    margin: 0;
}

.trending .trendingContents div img, .popular .popularContents div img{
    border-radius: 10px;
    min-height: 225px;
    max-height: 225px;
}

.trending .trendingContents div h4, .popular .popularContents div h4{
    margin: 0;
    font-size: medium;
    font-weight: normal;
    color: rgba(0,0,0,.6);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(232, 231, 231);
    border-radius: 8px;
}


.container .bgMovie {
    min-height: 80vh;
    background-position: left calc((50vw - 170px) - 320px) top;
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
}

.container .bgMovie .bgOverlay {
    min-height: 80vh;
    background-image: linear-gradient(to right, rgba(31.5, 31.5, 31.5, 1) 30%, rgba(31.5, 31.5, 31.5, 0.9) 50%, rgba(31.5, 31.5, 31.5, 0.30) 100%);
    display: flex;
}

.container .bgMovie .bgOverlay img {
    width: 300px;
    margin: 30px 50px;
    border-radius: 10px;
}

.container .searchDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.container .searchDiv .searchPagination {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 30%;
    width: 100%;
}

.container .searchDiv .searchPagination h5 {
    padding: 5px 10px;
    cursor: pointer;
}

.container .searchDiv .searchPagination .currentPage {
    border: 1px solid rgba(3,37,65,1);
}

.container .searchDiv .searchData {
    max-width: 80%;
    width: 100%;
}

.container .searchDiv .searchData div {
    display: flex;
    cursor: pointer;
    justify-content: center;
    margin: 20px auto;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    border-radius: 10px;
    border: 1px solid rgba(227,227,227,1);
    background-color: #fff;
}

.container .searchDiv .searchData div img {
    width: 110px;
    margin-right: 10px;
    min-height: 150px;
    border-radius: 10px 0 0 10px;
}

.container .searchDiv .searchData div .contents {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    border: none;
    width: 100%;
}

.container .searchDiv .searchData div .contents h3, .container .searchDiv .searchData div .contents h4 {
    margin: 0;
}

.container .searchDiv .searchData div .contents h4 {
    color: #999;
    font-weight: normal;
}

.container .searchDiv .searchData div .contents p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    margin-top: 20px;
    margin-right: 20px;
}

.container .bgMovie .bgOverlay .movieContents {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container .bgMovie .bgOverlay .movieContents span {
    font-size: xxx-large;
}

.optionHeadings {
    margin: 100px 0 0 20px;
}

.popularOptionDiv {
    display: flex;
}

.filters {
    min-width: 23%;
    max-width: 23%;
    padding: 20px;
    margin-right: 25px;
}

.sortingDiv, .allFiltersDiv {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
}

.allFiltersDiv {
    margin-top: 25px;
}

.sortLabelDiv, .filterLabelDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 0 20px;
}

.sortLabelDiv img, .filterLabelDiv img {
    width: 10%;
}

.filterLabelDiv img {
    transform: rotate(90deg);
}

.sortingDiv .sortContentDiv {
    display: none;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid rgb(232, 231, 231);
    border-radius: 0 0 5px 5px;
}

.sortingDiv .sortContentDiv select {
    margin: 10px 0;
    border-radius: 5px;
    line-height: 1.5;
    padding: 10px;
    background: rgb(232, 231, 231);
    border: none;
    outline: none;
}

.sortingDiv .sortContentDiv select option {
    background: #fff;
    outline: none;
}

.filterContents {
    display: block;
}

.genres {
    padding: 20px;
    border-top: 1px solid rgb(232, 231, 231);
}

.allGenres {
    display: flex;
    flex-wrap: wrap;
}

.allGenres div{
    padding: 3px 10px;
    margin: 5px 3px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 30px;
    cursor: pointer;
}

.popularOptionContents {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.popularOptionContents h1 {
    display: block;
    margin: 100px auto;
    align-self: center;
}

.popularOptionContents div, .popularOptionContents div img {
    width: 190px;
    cursor: pointer;
    margin: 20px 10px;
}

.popularOptionContents div img, .popularOptionContents div h3 {
    margin: 0;
}

.popularOptionContents div img{
    border-radius: 10px;
    min-height: 285px;
    max-height: 285px;
}

.popularOptionContents div h4{
    margin: 0;
    font-size: medium;
    font-weight: normal;
    color: rgba(0,0,0,.6);
}

.userScoreFilter {
    padding: 20px;
    border-top: 1px solid rgb(232, 231, 231);
}

.rangeDisplay, .votesRangeDisplay {
    display: none;
    margin: 0 auto;
    margin-top: 5px;
    width: fit-content;
    padding: 3px 20px;
    border-radius: 5px;
    background-color: black;
    color: #fff;
}

.range {
    margin: 20px 0;
}

.range-slider {
    height: 5px;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 2px;
}

.range-selected {
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    border-radius: 5px;
    background-color: rgba(1,180,228,1);
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -7px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.range-input input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid rgba(1,180,228,1);
    background-color: rgba(1,180,228,1);
    pointer-events: auto;
    -webkit-appearance: none;
}

.range-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid rgba(1,180,228,1);
    background-color: rgba(1,180,228,1);
    pointer-events: auto;
    -moz-appearance: none;
}

.minVotesFilter {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid rgb(232, 231, 231);
}

.minVotesFilter input {
    -webkit-appearance: none;
    background-color: #e1e9f6;
    width: 100%;
    height: 5px;
    margin: 15px auto;
    border-radius: 2px;
}

.minVotesFilter input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid rgba(1,180,228,1);
    background-color: rgba(1,180,228,1);
    pointer-events: auto;
    -webkit-appearance: none;
}

.minVotesFilter-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid rgba(1,180,228,1);
    background-color: rgba(1,180,228,1);
    pointer-events: auto;
    -moz-appearance: none;
}

.filterSearchButton {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgba(3,37,65,1);
    color: #fff;
}